{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('@RoadizCore/DataCollector/roadiz-icon.svg') }}
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Roadiz CMS</b>
            <span>{{ collector.version }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': false }) }}
{% endblock %}
