---
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            $cmsVersion: '2.0.0-alpha'
            $staticDomain: '%roadiz_core.static_domain_name%'
            $themes: '%roadiz_core.themes%'
            $inheritanceType: '%roadiz_core.inheritance_type%'
            $maxPixelSize: '%roadiz_core.assets_processing.max_pixel_size%'
            $imageDriver: '%roadiz_core.assets_processing.driver%'
            $appNamespace: '%roadiz_core.app_namespace%'
            $projectDir: '%kernel.project_dir%'
            $publicDir: '%kernel.project_dir%/public'
            $cacheDir: '%kernel.project_dir%/var/cache'
            $exportDir: '%kernel.project_dir%/var/export'
            $privateKeyName: '%roadiz_core.private_key_name%'
            $generatedEntitiesDir: '%kernel.project_dir%/generated'
            $debug: '%kernel.debug%'
            $defaultControllerClass: 'RZ\Roadiz\CoreBundle\Controller\DefaultNodeSourceController'

    RZ\Roadiz\CoreBundle\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'
            - '../src/Event/'

    RZ\Roadiz\CoreBundle\EntityHandler\:
        resource: '../src/EntityHandler'
        # Recreate handlers for each usage
        shared: false
        public: true

    RZ\Roadiz\CoreBundle\Mailer\EmailManager:
        # Recreate manager for each usage
        shared: false

    RZ\Roadiz\CoreBundle\Doctrine\EventSubscriber\:
        resource: '../src/Doctrine/EventSubscriber'
        tags: ['doctrine.event_subscriber']

    RZ\Roadiz\CoreBundle\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    RZ\Roadiz\CoreBundle\Security\Authorization\Voter\:
        resource: '../src/Security/Authorization/Voter'
        tags: [ 'security.voter' ]

    RZ\Roadiz\CoreBundle\Preview\RequestPreviewRevolver:
        arguments:
            - '@Symfony\Component\HttpFoundation\RequestStack'
            - 'ROLE_BACKEND_USER'

    RZ\Roadiz\Utils\Asset\Packages:

    RZ\Roadiz\Utils\Document\DownscaleImageManager:

    RZ\Roadiz\Core\Handlers\HandlerFactoryInterface:
        alias: RZ\Roadiz\CoreBundle\EntityHandler\HandlerFactory

    RZ\Roadiz\Contracts\NodeType\NodeTypeResolverInterface:
        alias: RZ\Roadiz\CoreBundle\Bag\NodeTypes

    RZ\Roadiz\EntityGenerator\EntityGeneratorFactory:
        arguments:
            - '@RZ\Roadiz\CoreBundle\Bag\NodeTypes'
            - '%roadiz_core.entity_generator_factory.options%'

    RZ\Roadiz\CoreBundle\EntityHandler\TranslationHandler:
        arguments:
            - '@doctrine.orm.cache.provider.cache.doctrine.orm.default.result'

    Gedmo\Loggable\LoggableListener:
        alias: RZ\Roadiz\CoreBundle\Doctrine\Loggable\UserLoggableListener

    RZ\Roadiz\CoreBundle\Doctrine\Loggable\UserLoggableListener:
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ "@annotation_reader" ] ]

    Symfony\Component\Asset\VersionStrategy\VersionStrategyInterface:
        alias: 'assets.empty_version_strategy'

    Doctrine\Persistence\ObjectManager:
        alias: 'doctrine.orm.default_entity_manager'

    RZ\Roadiz\Core\Models\FileAwareInterface:
        alias: RZ\Roadiz\CoreBundle\Filesystem\RoadizFileDirectories

    RZ\Roadiz\CoreBundle\Filesystem\RoadizFileDirectories:
        arguments: ['%kernel.project_dir%']

    RZ\Roadiz\Random\PasswordGenerator:

    RZ\Crypto\KeyChain\KeyChainInterface:
        alias: RZ\Crypto\KeyChain\AsymmetricFilesystemKeyChain

    RZ\Crypto\KeyChain\AsymmetricFilesystemKeyChain:
        arguments: ['%kernel.project_dir%/var/secret', true]

    JMS\Serializer\Construction\ObjectConstructorInterface:
        alias: RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\ObjectConstructor

    RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\ChainDoctrineObjectConstructor:
        decorates: jms_serializer.doctrine_object_constructor
        arguments:
            - '@doctrine.orm.default_entity_manager'
            - '@RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\ObjectConstructor'
            - ['@RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\TranslationObjectConstructor',
                '@RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\TagObjectConstructor',
                '@RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\NodeObjectConstructor',
                '@RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\NodeTypeObjectConstructor',
                '@RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\NodeTypeFieldObjectConstructor',
                '@RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\RoleObjectConstructor',
                '@RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\GroupObjectConstructor',
                '@RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\SettingObjectConstructor',
                '@RZ\Roadiz\CoreBundle\Serializer\ObjectConstructor\SettingGroupObjectConstructor']

    Solarium\Core\Client\Client:
        factory: ['RZ\Roadiz\CoreBundle\SearchEngine\ClientRegistry', 'getClient']

    RZ\Roadiz\CoreBundle\Security\Authorization\Chroot\NodeChrootResolver:
        alias: RZ\Roadiz\CoreBundle\Security\Authorization\Chroot\NodeChrootChainResolver

    RZ\Roadiz\CoreBundle\Security\Authorization\Chroot\NodeChrootChainResolver:
        arguments:
            - ['@RZ\Roadiz\CoreBundle\Security\Authorization\Chroot\RoadizUserNodeChrootResolver']

    RZ\Roadiz\CoreBundle\Cache\Clearer\AssetsFileClearer:
        arguments:
            - '%kernel.project_dir%/public/assets'

    #
    # Markdown
    #
    League\CommonMark\Extension\Autolink\AutolinkExtension:
        tags: ['roadiz_core.markdown.text_extra_converter.extension']
    League\CommonMark\Extension\ExternalLink\ExternalLinkExtension:
        tags: ['roadiz_core.markdown.line_converter.extension', 'roadiz_core.markdown.text_converter.extension', 'roadiz_core.markdown.text_extra_converter.extension']
    League\CommonMark\Extension\Footnote\FootnoteExtension:
        tags: ['roadiz_core.markdown.text_extra_converter.extension']
    League\CommonMark\Extension\InlinesOnly\InlinesOnlyExtension:
        tags: ['roadiz_core.markdown.line_converter.extension']
    League\CommonMark\Extension\SmartPunct\SmartPunctExtension:
        tags: ['roadiz_core.markdown.text_extra_converter.extension']
    League\CommonMark\Extension\Strikethrough\StrikethroughExtension:
        tags: ['roadiz_core.markdown.text_converter.extension', 'roadiz_core.markdown.text_extra_converter.extension']
    League\CommonMark\Extension\TaskList\TaskListExtension:
        tags: ['roadiz_core.markdown.text_extra_converter.extension']
    League\CommonMark\Extension\CommonMark\CommonMarkCoreExtension:
        tags: ['roadiz_core.markdown.text_converter.extension', 'roadiz_core.markdown.text_extra_converter.extension']
    League\CommonMark\Extension\Table\TableExtension:
        tags: ['roadiz_core.markdown.text_converter.extension', 'roadiz_core.markdown.text_extra_converter.extension']

    RZ\Roadiz\Markdown\Twig\MarkdownExtension:
        tags: ['twig.extension']

    RZ\Roadiz\CoreBundle\Routing\RedirectionRouter:
        lazy: true
        tags: [ { name: 'router', priority: 100 } ]
    RZ\Roadiz\CoreBundle\Routing\NodeRouter:
        lazy: true
        tags: [ { name: 'router', priority: 0 } ]

    RZ\Roadiz\Utils\UrlGenerators\DocumentUrlGeneratorInterface:
        alias: RZ\Roadiz\CoreBundle\Routing\DocumentUrlGenerator

    RZ\Roadiz\CoreBundle\TwigExtension\BlockRenderExtension:
        arguments: [ '@fragment.handler' ]

    RZ\Roadiz\CoreBundle\TwigExtension\RoutingExtension:
        decorates: 'twig.extension.routing'
        autoconfigure: false
        arguments:
            - '@.inner'
